@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: flex;
  height: 100vh;
  background: #514fdf;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #514fdf;
  text-transform: uppercase;
  text-align: center;
}

.redirecting{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #000000;
  text-align: center;
}